<div class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="addTransactionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addTransactionModalLabel">Create Transaction</h4>
          <p class="modal-intro">Enter the required values below.</p>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          

            
              <div class="form-group text-left">
                <label for="car">car</label>
                
                    <textarea formControlName="car" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="newOwner">newOwner</label>
                
                    <textarea formControlName="newOwner" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="transactionId">transactionId</label>
                
                  <input formControlName="transactionId" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="timestamp">timestamp</label>
                
                  <input formControlName="timestamp" type="text" class="form-control">
                
              </div>
            
          

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button (click)="addTransaction(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Confirm</button>

        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateTransactionModal" tabindex="-1" role="dialog" aria-labelledby="updateTransactionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateTransactionModalLabel">Update Transaction</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="car">car</label>

              
                
                  <textarea [ngModel]="car" formControlName="car" class="form-control" rows="3"></textarea>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="newOwner">newOwner</label>

              
                
                  <textarea [ngModel]="newOwner" formControlName="newOwner" class="form-control" rows="3"></textarea>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="transactionId">transactionId</label>

              
                <input [ngModel]="transactionId"formControlName="transactionId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="timestamp">timestamp</label>

              
                <input [ngModel]="timestamp"formControlName="timestamp" type="text" class="form-control">
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button (click)="updateTransaction(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteTransactionModal" tabindex="-1" role="dialog" aria-labelledby="deleteTransactionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteTransactionModalLabel">Delete Transaction</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteTransaction()">
        <div class="modal-body">
          Are you sure you want to delete this Transaction?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button (click)="deleteTransaction()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        <strong>Error:</strong> {{errorMessage}}
    </div>
  
  <div class="row">
    <div class="col-md-9">
        <h1 class="transaction-title" id='transactionName'>Transfer</h1>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          When invoked, this transaction will have the following attributes:
          <br>
          <ul>
            
              <li><span class="attribute"><b>car</b></span></li>
            
              <li><span class="attribute"><b>newOwner</b></span></li>
            
              <li><span class="attribute"><b>transactionId</b></span></li>
            
              <li><span class="attribute"><b>timestamp</b></span></li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
 
