<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="network-name">sellyourcar@0.0.1.bna</p>
        <p class="navbar-brand">sellyourcar</p>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown">Assets</a>
            <ul class="dropdown-menu scrollable-menu">
              
              <li><a [routerLink]="['/Car']">Car</a></li>
              
            </ul>
        </li>
        <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown">Participants</a>
          <ul class="dropdown-menu scrollable-menu">
            
            <li><a [routerLink]="['/User']">User</a></li>
            
          </ul>
      </li>
      <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown">Transactions</a>
        <ul class="dropdown-menu scrollable-menu">
          
          <li><a [routerLink]="['/Transfer']">Transfer</a></li>
          
        </ul>
    </li>
      </ul>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
